<app-navbar></app-navbar>
<div id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Add Authors
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg">
            <div class="row">
              <div class="col-sm-12">
  
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /cont -->
  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div>
    </div><!-- /cont -->
  
  </div>
  
  
  <div class="container">
    <div class="row">
  
      <div class="col-md-12">
  
        <div class="panel">
          <div class="panel-body">
  
  
  
            <!--/stories-->
            <div class="container">
              <form (ngSubmit)=onsubmit(f) #f="ngForm">
                <div class="form-group col-md-11">
                  <label>author</label>
                  <input type="text" class="form-control" name="author" ngModel>
                </div>
                <div class="form-group col-md-11">
                  <label>country</label>
                  <input type="text" class="form-control" name="country" ngModel>
                </div>
                <div class="form-group col-md-11">
                  <label>imageLink</label>
                  <input type="text" class="form-control" name="imageLink" ngModel>
                </div>
                <div class="form-group col-md-11">
                  <label>language</label>
                  <input type="text" class="form-control" name="language" ngModel>
                </div>
                <div class="form-group col-md-11">
                  <label>link</label>
                  <input type="text" class="form-control" name="link" ngModel>
                </div>
                <div class="form-group col-md-11">
                  <label>pages</label>
                  <input type="text" class="form-control" name="pages" ngModel>
                </div>
                <div class="form-group col-md-11">
                  <label>title</label>
                  <input type="text" class="form-control" name="title" ngModel>
                </div>
                <div class="form-group col-md-11">
                  <label>year</label>
                  <input type="text" class="form-control" name="year" ngModel>
                </div>
                <div class="form-group col-md-11">
                    <label>description</label>
                    <input type="text" class="form-control" name="description" ngModel>
                    <button type="submit" class="btn btn-primary my-2" style="float: right">Submit</button>
                  </div>
              </form>
            </div>
            <!--/stories-->
  
  
  
  
  
          </div>
        </div>
  
  
  
      </div>
      <!--/col-12-->
    </div>
  </div>
  
  
  <hr>
  
  <div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">
  
        <h1>Follow Us</h1>
        <div class="btn-group">
          <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
          <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
          <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>
  
      </div>
    </div>
  </div>
  
  <hr>
  
  <hr>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-google-plus icon-2x"></i></li>
            <li><i class="icon-pinterest icon-2x"></i></li>
          </ul>
  
        </div>
        <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a
              href="http://www.bootply.com">Bootply</a></p>
        </div>
      </div>
    </div>
  </footer>
  